@use '../variables'
@use '../mixins'

.profile-pic-container
  height: 12rem
  width: 12rem
  text-decoration: none

  &.small
    width: 6rem
    height: 6rem

.border-gradient
  @include mixins.center
  height: 12rem
  width: 12rem
  border-radius: 50%
  background: variables.$gradient
  transition: transform 0.3s

  &.small
    width: 6rem
    height: 6rem

  &:hover
    transform: scale(1.1)

.profile-pic
  border-radius: 50%
  padding-left: 1px
  padding-top: 1px
