@use '../variables'
@use '../mixins'

.language-switcher
  position: relative
  width: 2.5rem
  height: 2.5rem

.selected-language
  cursor: pointer
  width: 100%
  height: 100%

.language-container
  position: absolute
  top: 3.3rem
  right: 0
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 20rem
  width: 12rem
  background-color: variables.$bg-color
  border: 1px solid variables.$bg-color-secondary
  border-radius: 4px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  padding: 8px
  z-index: 100
  cursor: pointer

  .warning
    color: #b20000
    text-shadow: 1px 1px 1px #000000

.language-panel
  display: flex
  flex-direction: column
  justify-content: space-between
  align-item: center
  gap: 0.5rem
  flex-wrap: wrap
  height: 14rem

.language-icon
  width: 30px
  margin-left: 10px
  margin-right: 10px
  border-radius: 9999px
  height: 30px
  margin-bottom: 8px
  transition: opacity 0.3s ease

.language-icon.selected
  box-shadow: 0 0 16px variables.$text-color
  border-radius: 9999px
