@use '../variables'

.project-title
  text-decoration: none
  width: 100%
  text-align: center
  cursor: default
  font-size: 1.5rem
  color: variables.$text-color

.project-description
  width: 80%
  text-align: justify
  text-justify: inter-word
