@use '../variables'
@use '../mixins'

.buttons-contact-content
  @include mixins.center
  flex-direction: row
  width: 100%
  max-width: 620px
  margin: 0 1rem
  gap: 1rem

  .button
    @include mixins.center
    text-decoration: none
    color: variables.$text-color
    background: variables.$bg-color-secondary
    border-radius: 8px
    transition: transform 0.3s

    &:hover
      transform: scale(1.05)
      background: variables.$gradient
