@use 'mixins'
@use 'variables'

.main-content
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 100%
  flex-grow: 1

  .page-content
    width: 100%
    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 1rem 0 1rem 0

p
  color: variables.$text-color
