@use 'variables'
@use 'mixins'

*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

#root
    display: flex
    align-items: center
    justify-content: start
    flex-direction: column
    background: variables.$body-bg-color
    min-height: 100vh
    overflow: hidden

    #root
        width: 100%
        height: 100%

a, svg
    transition: .4s

.no-select
    user-select: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
